.slider-controls {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    width: 300px;
  
    button {
      background-color: #0074d9;
      color: #fff;
      border: none;
      border-radius: 5px;
      padding: 10px 20px;
      margin: 0 auto;
      cursor: pointer;
  
      &:hover {
        background-color: #0056b3;
      }
    }
  }
  